In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("winequality-red.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.9/dist-packages (2.11.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.51.3)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.11.2)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.19.6)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (15.0.6.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.11.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow) (67.6.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.31.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from tensorflow) (23.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.11.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.2.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.27.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.16.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow) (3.4.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (6.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (3.2.2)

In [4]:
import tensorflow as tf
train_df = df.sample(frac= 0.75, random_state = 4)

val_df = df.drop(train_df.index)

In [5]:
#now let's train seperate the targets and labels
#75% of the data is selected
X_train = train_df.drop('quality',axis =1)

val_df = df.drop(train_df.index)

In [6]:
#calling to (0,1) range scaling
max_val = train_df.max(axis =0)
min_val = train_df.min(axis =0)
range = max_val - min_val
train_df = (train_df - min_val)/(range)
val_df = (val_df - min_val)/(range)

In [7]:
#seperate target and labels
X_train = train_df.drop('quality',axis=1)
X_val = val_df.drop('quality',axis=1)
Y_train = train_df['quality']
Y_val = val_df['quality']

input_shape = [X_train.shape[1]]
input_shape

[11]

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [9]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(units = 64,activation ='relu',input_shape = input_shape),
    tf.keras.layers.Dense(units = 32,activation ='relu'),
    tf.keras.layers.Dense(units = 1)
                            ])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                768

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,881
Trainable params: 2,881
Non-trainable params: 0
_________________________________________________________________

In [10]:
model.compile(optimizer='adam',loss='mae')

In [11]:
losses = model.fit(X_train,Y_train,validation_data=(X_val,Y_val),batch_size = 100,epochs=15)

Epoch 1/15
12/12 [==============================] - 1s 21ms/step - loss: 0.3791 - val_loss: 0.1800
Epoch 2/15
12/12 [==============================] - 0s 6ms/step - loss: 0.1595 - val_loss: 0.1603
Epoch 3/15
12/12 [==============================] - 0s 4ms/step - loss: 0.1459 - val_loss: 0.1301
Epoch 4/15
12/12 [==============================] - 0s 7ms/step - loss: 0.1289 - val_loss: 0.1197
Epoch 5/15
12/12 [==============================] - 0s 5ms/step - loss: 0.1176 - val_loss: 0.1100
Epoch 6/15
12/12 [==============================] - 0s 6ms/step - loss: 0.1108 - val_loss: 0.1076
Epoch 7/15
12/12 [==============================] - 0s 5ms/step - loss: 0.1086 - val_loss: 0.1061
Epoch 8/15
12/12 [==============================] - 0s 5ms/step - loss: 0.1072 - val_loss: 0.1059
Epoch 9/15
12/12 [==============================] - 0s 5ms/step - loss: 0.1050 - val_loss: 0.1047
Epoch 10/15
12/12 [==============================] - 0s 6ms/step - loss: 0.1033 - val_loss: 0.1038
Epoch 11/15
12/12 [==============================] - 0s 7ms/step - loss: 0.1025 - val_loss: 0.1030
Epoch 12/15
12/12 [==============================] - 0s 5ms/step - loss: 0.1016 - val_loss: 0.1027
Epoch 13/15
12/12 [==============================] - 0s 6ms/step - loss: 0.1009 - val_loss: 0.1021
Epoch 14/15
12/12 [==============================] - 0s 6ms/step - loss: 0.1000 - val_loss: 0.1017
Epoch 15/15
12/12 [==============================] - 0s 6ms/step - loss: 0.0991 - val_loss: 0.1016

In [12]:
type(X_train)

pandas.core.frame.DataFrame

In [13]:
X_val.iloc[121:124,:]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
540,0.407080,0.321918,0.303797,0.165517,0.148581,0.267606,0.144876,0.640969,0.347826,0.206061,0.184615
543,0.584071,0.369863,0.303797,0.110345,0.121870,0.211268,0.166078,0.677680,0.173913,0.236364,0.400000
548,0.690265,0.157534,0.620253,0.117241,0.111853,0.366197,0.222615,0.685022,0.226087,0.254545,0.307692

In [14]:
Y_val[121:124]

540    0.4
543    0.6
548    0.6
Name: quality, dtype: float64

In [15]:
test = X_val.iloc[120]
test.shape
new_test = pd.DataFrame(test.values.reshape(1,-1))

In [16]:
model.predict(new_test)

1/1 [==============================] - 0s 97ms/step

array([[0.7717731]], dtype=float32)

In [17]:
Y_train.iloc[120]

0.8

In [18]:
X_val.iloc[200:210]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
842,0.530973,0.260274,0.569620,0.117241,0.178631,0.464789,0.219081,0.514684,0.321739,0.236364,0.384615
843,0.221239,0.386986,0.443038,0.075862,0.126878,0.112676,0.303887,0.457416,0.365217,0.175758,0.153846
844,0.469027,0.089041,0.582278,0.055172,0.083472,0.352113,0.127208,0.428047,0.278261,0.303030,0.338462
845,0.159292,0.356164,0.265823,0.062069,0.115192,0.183099,0.088339,0.500734,0.634783,0.200000,0.215385
847,0.247788,0.383562,0.202532,0.062069,0.110184,0.154930,0.116608,0.560206,0.556522,0.224242,0.230769
851,0.415929,0.212329,0.556962,0.068966,0.121870,0.112676,0.056537,0.514684,0.365217,0.133333,0.169231
856,0.415929,0.164384,0.493671,0.041379,0.113523,0.563380,0.173145,0.473568,0.530435,0.242424,0.384615
865,0.230088,0.352740,0.088608,0.117241,0.108514,0.211268,0.282686,0.544053,0.565217,0.127273,0.200000
870,0.274336,0.407534,0.012658,0.082759,0.086811,0.422535,0.130742,0.267254,0.478261,0.145455,0.523077
876,0.221239,0.239726,0.000000,0.089655,0.091820,0.084507,0.028269,0.374449,0.469565,0.151515,0.384615

In [19]:
Y_val.iloc[200:210]

842    0.6
843    0.4
844    0.6
845    0.4
847    0.6
851    0.4
856    0.6
865    0.4
870    0.6
876    0.2
Name: quality, dtype: float64

In [20]:
model.predict(X_val.iloc[200:210,:])

1/1 [==============================] - 0s 21ms/step

array([[0.60909235],
       [0.3958492 ],
       [0.6017474 ],
       [0.4697542 ],
       [0.491209  ],
       [0.4652271 ],
       [0.65737265],
       [0.4150462 ],
       [0.58265495],
       [0.55377704]], dtype=float32)

In [21]:
loss_df = pd.DataFrame(losses.history)
loss_df

        loss  val_loss
0   0.379106  0.180041
1   0.159550  0.160301
2   0.145905  0.130093
3   0.128934  0.119688
4   0.117639  0.110027
5   0.110847  0.107622
6   0.108551  0.106117
7   0.107168  0.105896
8   0.104976  0.104670
9   0.103312  0.103799
10  0.102502  0.103013
11  0.101583  0.102731
12  0.100897  0.102057
13  0.100004  0.101698
14  0.099113  0.101597